In [14]:
## question no 1 print all odd numbers
king = []
print("Enter 5 Numbers: ")
for i in range(5):
  king.insert(i, int(input()))

print("\nOdd Numbers: ")
for i in range(5):
  if n[i]%2!=0:5
    print(n[i])

Enter 5 Numbers:
5
33
22
1
10

Odd Numbers:
1
3
5
7

In [24]:
## question no 2 sum of list
king=[]
print("enter numbers: ")
for i in range(5):
  king.insert(i,int(input()))
print(king)
print("\nsum of numbers is: ")
print(sum(king))

enter numbers:
33
1
22
10
22
[33, 1, 22, 10, 22]

sum of numbers is:
88

In [34]:
## Question no 3 revrse a program 
king=[]
print("enter numbers: ")
for i in range(5):
  king.insert(i,int(input()))
print(king)
print("\nreverse list is: ")
king.reverse()
print(king)

enter numbers:
1
2
3
4
5
[1, 2, 3, 4, 5]

reverse list is:
[5, 4, 3, 2, 1]

In [52]:
## Question 4 two maximum numbers
king=[]
print("enter numbers: ")
for i in range(5):
  king.insert(i,int(input()))
print(king)
print("two maximum numbers")
king.sort()
print("sorted list",king)
print(king[-1:-3:-1])

enter numbers:
33
11
33
5
77
[33, 11, 33, 5, 77]
two maximum numbers
sorted list [5, 11, 33, 33, 77]
[77, 33]

In [ ]:
## question no 5 second highest
king=[]
print("enter numbers: ")
for i in range(5):
  king.insert(i,int(input()))
print(king)

In [45]:
##Question 6 sort characters
king=[]
print("enter character: ")
for i in range(5):
  king.insert(i,(input()))
print(king)
king.sort(reverse=True)

print(king)

enter character:
hasnain
ali
babar
kohli
cat
['hasnain', 'ali', 'babar', 'kohli', 'cat']
['kohli', 'hasnain', 'cat', 'babar', 'ali']

In [62]:
##question 7
king=[]
print("enter character: ")
for i in range(5):
  king.insert(i,(input()))
print(king)
  
res = []
for i in king:
    if i not in res:
        res.append(i)
   
print ("The list after removing duplicates : " + str(res))

enter character:
hasnain
king
hasnain
ali
oop
['hasnain', 'king', 'hasnain', 'ali', 'oop']
The list after removing duplicates : ['hasnain', 'king', 'ali', 'oop']

In [49]:
## question 8 vowels
king=input("enter a character: ")
if(king=="a" or king=="A"):
  print("its a vowel")
elif(king=="e" or king=="E"):
   print("its a vowel")
elif(king=="I" or king=="i"):
    print("its a vowel")
elif(king=="u" or king=="U"):
  print("its a vowel")
elif(king=="o" or king=="O"):
  print("its a vowel")
else:
  print("its a consotant")

enter a character: l
its a consotant

In [64]:
##question 9 add of list
num =int(input("enter a number: "))
factorial = 1
if num < 0:
   print("factorial does not exist")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

enter a number: 3
The factorial of 3 is 6

In [ ]:
##question 10 add of list
list1=['hasnain','ali','king']
list2=['pakistan','india','malaysia']
print(list1+list2)